HYDRA_ADMIN_URL=http://localhost:4445
NEXT_PUBLIC_HYDRA_PUBLIC_URL=http://localhost:4444
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_CLIENT_ID=auth-code-client
NEXT_PUBLIC_REDIRECT_URI=http://localhost:3000/callback
NEXT_PUBLIC_SCOPE=openid profile
OAUTH_CLIENT_SECRET=secret
OAUTH_CLIENT_NAME=Demo Client
OAUTH_GRANT_TYPES=authorization_code,refresh_token
